header {
    background-color: #0073e6;
    color: white;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
}

header a {
    color: white;
    text-decoration: none;
    margin: 10px;
}

header a:hover {
    color: #99c1e9;
    transition: 0.5s;
}